//- extends layout
//-
//- block content
//-   ul(id="myMenu")
//-     li(data-menuanchor="firstPage", class="active")
//-       a(href="#firstPage") First section
//-     li(data-menuanchor="secondPage")
//-       a(href="#secondPage") Second section
//-     li(data-menuanchor="thirdPage")
//-       a(href="#thirdPage") Third section
//-     li(data-menuanchor="fourthPage")
//-       a(href="#fourthPage") Fourth section
//-   div(id="fullpage")
//-     div.section Whatever1
//-     div.section Whatever2
//-     div.section Whatever3
//-     div.section Whatever4
