doctype html
html
  head
    title MikaJam
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery.fullPage.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='shortcut icon', href="/images/basketfav.png?v=2")
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/javascripts/slapText.min.js")
    script(src="/javascripts/chart.min.js")

    script(src="/javascripts/jquery.fullPage.min.js")
    script(src="/javascripts/vendors/jquery.easings.min.js")
    script(src="/javascripts/vendors/jquery.slimscroll.min.js")
    script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")

  body
    ul(id="menu" class="container")
      li(data-menuanchor="Home", class="active ")
        a(href="#Home" class="aMas") Home
      li(data-menuanchor="Info" class="")
        a(href="#Info" class="aMas") Info
      li.iconContainer
        a(href="https://www.facebook.com/mikajamit?fref=ts" class="")
          img(src="/images/facebook.png" class="icon")
        a(href="https://www.youtube.com/channel/UClMG3xEEJtHp5NHl9MuNLPA" class="")
          img(src="/images/youtube.png" class="icon")
        a(href="http://websta.me/tag/mikajam")
          img(src="/images/instagram.png" class="icon")
      li(data-menuanchor="Players" class="pull-right")
        a(href="#Players" class="aCon") Players Stats
      li(data-menuanchor="Rosters" class="pull-right")
        a(href="#Rosters" class="aCon") Rosters

    div(id="mobile" class="container")
      h1.col-xs-12.airH MikaJam
      h2.col-xs-12.air 20.12 12:00 
      h2.col-xs-12.air @ Vehkoja
      div.col-xs-12.vsContainer
        div.col-xs-5
          img(src="/images/mikasallstars2.png"  class="col-xs-12")
        div.col-xs-2.vsText.air
          h1 VS
        div.col-xs-5
          img(src="/images/contenders_logo.png"  class="col-xs-12")
      h2.col-xs-12.air What's the Jam?
      p Tänä vuonna jo seitsemättä kertaa järjestettävä MikaJam on oodi koripallolle, hauskanpidolle ja ennen kaikkea ystävyydelle. Tapahtuman juuret juontavat  syvälle Hyvinkään Sveitsin lukion liikuntasaliin jossa ensimmäinen koripallopeli pelattiin Mika Linnaluoman syntymäpäivänä - tästä myös tapahtuma sai nimensä. 
      p Vaikka Jamit ovatkin rakentuneet vanhojen HyPo -pelaajien ympärille, kentällä nähdään myös  eri lajien edustajia - jääkiekosta curlingiin. Intohimo urheilua ja lajia kohtaan näkyy kentällä ja tuntuu katsomossa. Tapahtuma ei ole osa meitä - me olemme tapahtuma. 
      h2.air We are MikaJam
    div(id="fullpage")
      div(class="section active" id="section1")
        video(id="video" autoplay loop muted)
          source(src="/images/video/layupgopro.mp4" type="video/mp4")
          source(src="/images/video/layupgopro.webmhd.webm" type="video/webm")
        h1#pheader MikaJam 20.12.2014 12:00 @ Vehkoja
      div.section#section2
        div(id="infoPage" class="container col-md-10 col-md-offset-1")
          h1.col-md-12.airH-F MikaJam 20.12 12:00 @ Vehkoja
          div.col-md-8.vsContainer-F.col-md-offset-2
            div.col-md-5
              img(src="/images/mikasallstars2.png"  class="col-xs-12")
            div.col-md-2.vsText-F.air-F
              h1 VS
            div.col-md-5
              img(src="/images/contenders_logo.png"  class="col-xs-12")
          div.clearfix
          h2.col-md-12.air-F What's the Jam?
          p Tänä vuonna jo seitsemättä kertaa järjestettävä MikaJam on oodi koripallolle, hauskanpidolle ja ennen kaikkea ystävyydelle. Tapahtuman juuret juontavat  syvälle Hyvinkään Sveitsin lukion liikuntasaliin jossa ensimmäinen koripallopeli pelattiin Mika Linnaluoman syntymäpäivänä - tästä myös tapahtuma sai nimensä. 
          p Vaikka Jamit ovatkin rakentuneet vanhojen HyPo -pelaajien ympärille, kentällä nähdään myös  eri lajien edustajia - jääkiekosta curlingiin. Intohimo urheilua ja lajia kohtaan näkyy kentällä ja tuntuu katsomossa. Tapahtuma ei ole osa meitä - me olemme tapahtuma. 
          h2.air-F We are MikaJam
      div.section#section3.container
        div.masContainer.col-md-12.row
          div.well.masTeam.col-md-9.pull-left#masTeam
            a(href="#Players" class="photoContainerMas top")
              p.thumbnailTextMas Mika <br> Linnaluoma
              img(src="/images/mika_profile_logo.png" alt="..." class="playerThumbnail")
            a(href="#Players/1" class="photoContainerMas top")
              p.thumbnailTextMas Mikko <br> Hirvonen
              img(src="/images/mikko_profile_logo.png" alt="..." class="playerThumbnail")
            a(href="#Players/2" class="photoContainerMas top")
              p.thumbnailTextMas Tuomas <br> Viertola
              img(src="/images/tuomas_profile_logo.png" alt="..." class="playerThumbnail")
            a(href="#Players/3" class="photoContainerMas top")
              p.thumbnailTextMas Petteri <br> Salo
              img(src="/images/petteri_profile_logo.png" alt="..." class="playerThumbnail")
            a(href="#Players/4" class="photoContainerMas top")
              p.thumbnailTextMas Jukka <br> Rajamäki
              img(src="/images/jukka_profile_logo.png" alt="..." class="playerThumbnail")
            a(href="#Players/5" class="photoContainerMas top")
              p.thumbnailTextMas Jukka <br> Heino
              img(src="/images/jukkah_profile_logo.png" alt="..." class="playerThumbnail")
            a(href="#Players/6" class="photoContainerMas bottom")
              p.thumbnailTextMas Kristian <br> Lindfors
              img(src="/images/kristian_profile_logo.png" alt="..." class="playerThumbnail")
            a(href="#Players/7" class="photoContainerMas bottom")
              p.thumbnailTextMas Jussi <br> Malminen
              img(src="/images/jussi_profile_logo.png" alt="..." class="playerThumbnail")
            a(href="#Players/8" class="photoContainerMas bottom")
              p.thumbnailTextMas Riku <br> Lempiö
              img(src="/images/riku_profile_logo.png" alt="..." class="playerThumbnail")
            a(href="#Players/9" class="photoContainerMas bottom")
              p.thumbnailTextMas Olli <br> Harju
              img(src="/images/olli_profile_logo.png" alt="..." class="playerThumbnail")
            a(href="#Players/10" class="photoContainerMas bottom")
              p.thumbnailTextMas Jaakko <br> Lievonen
              img(src="/images/jaakko_profile_logo.png" alt="..." class="playerThumbnail")
          div.masTeamText.col-md-3.pull-right
            img(src="/images/mikasallstars2.png"  class="col-md-12")
        div.conContainer.col-md-12.row
          div.conTeamText.col-md-3.pull-left
            img(src="/images/contenders_logo.png"  class="col-md-12")
          div.well.conTeam.col-md-9.pull-right#conTeam
            a(href="#Players/11" class="photoContainerCon top")
              p.thumbnailTextCon Kimmo<br>Reunila
              img(src="/images/kimmo_profile_logo.png" alt="..." class="playerThumbnail")
            a(href="#Players/12" class="photoContainerCon top")
              p.thumbnailTextCon Teemu<br>Seppälä
              img(src="/images/teemu_profile_logo.png" alt="..." class="playerThumbnail")
            a(href="#Players/13" class="photoContainerCon top")
              p.thumbnailTextCon Mikko<br>Jämsä
              img(src="/images/mikkoj_profile_logo.png" alt="..." class="playerThumbnail")
            a(href="#Players/14" class="photoContainerCon top")
              p.thumbnailTextCon Olli<br>Salminen
              img(src="/images/ollis_profile_logo.png" alt="..." class="playerThumbnail")
            a(href="#Players/15" class="photoContainerCon top")
              p.thumbnailTextCon Juhani<br>Jämsä
              img(src="/images/juhani_profile_logo.png" alt="..." class="playerThumbnail")
            a(href="#Players/16" class="photoContainerCon top")
              p.thumbnailTextCon Niklas<br>Lindström
              img(src="/images/niklas_profile_logo.png" alt="..." class="playerThumbnail")
            a(href="#Players/17" class="photoContainerCon top")
              p.thumbnailTextCon Matias<br>Repo
              img(src="/images/matias_profile_logo.png" alt="..." class="playerThumbnail")
            a(href="#Players/18" class="photoContainerCon bottom")
              p.thumbnailTextCon Matias<br>Mattila
              img(src="/images/matiasm_profile_logo.png" alt="..." class="playerThumbnail")
            a(href="#Players/19" class="photoContainerCon bottom")
              p.thumbnailTextCon Sauli<br>Sukanen
              img(src="/images/sauli_profile_logo.png" alt="..." class="playerThumbnail")
            a(href="#Players/20" class="photoContainerCon bottom")
              p.thumbnailTextCon Lauri<br>Jämsä
              img(src="/images/lauri_profile_logo.png" alt="..." class="playerThumbnail")
            a(href="#Players/21" class="photoContainerCon bottom")
              p.thumbnailTextCon Benjaminen<br>Kokkonen
              img(src="/images/benjamin_profile_logo.png" alt="..." class="playerThumbnail")
            a(href="#Players/22" class="photoContainerCon bottom")
              p.thumbnailTextCon Vili<br>Valajärvi
              img(src="/images/vili_profile_logo.png" alt="..." class="playerThumbnail")
            a(href="#Players/23" class="photoContainerCon bottom")
              p.thumbnailTextCon Jussi<br>Lilja
              img(src="/images/jussil_profile_logo.png" alt="..." class="playerThumbnail")
      div.section#section4
        // Mika Linnaluoma
        div.slide.container
          div(class="well playerBox masB")
            div.col-md-4.frame.masBorder
              span.helper
              img(src="/images/mika_profile_logo.png" class="canvas playerPhoto")
            div.col-md-4.frame
              span.helper
              div.playerStats
                h2
                  b MIKA LINNALUOMA
                  |&nbsp;#5 C
                //- h3.mas Mika's All Stars
                ul.playerStats
                  li
                    h3 179 cm
                  li
                    h3 78 kg
                  li
                    h3 GUARD
            div.frame.col-md-4.canvas
              canvas(id="mikaChart" class="canvas" width="400" height="400")
        // Mikko Hirvonen
        div.slide.container
          div(class="well playerBox masB")
            div.col-md-4.frame.masBorder
              span.helper
              img(src="/images/mikko_profile_logo.png" class="canvas playerPhoto")
            div.col-md-4.frame
              span.helper
              div.playerStats
                h2
                  b MIKKO HIRVONEN
                  |&nbsp;#4
                //- h3.mas Mika's All Stars
                ul.playerStats
                  li
                    h3 177 cm
                  li
                    h3 74 kg
                  li
                    h3 GUARD
            div.frame.col-md-4.canvas
              canvas(id="mikkoChart" class="canvas" width="400" height="400")
        // Tuomas Viertola
        div.slide.container
          div(class="well playerBox masB")
            div.col-md-4.frame.masBorder
              span.helper
              img(src="/images/tuomas_profile_logo.png" class="canvas playerPhoto")
            div.col-md-4.frame
              span.helper
              div.playerStats
                h2
                  b TUOMAS VIERTOLA
                  |&nbsp;#6
                //- h3.mas Mika's All Stars
                ul.playerStats
                  li
                    h3 193 cm
                  li
                    h3 95 kg
                  li
                    h3 GUARD | FORWARD | CENTER 
            div.frame.col-md-4.canvas
              canvas(id="tuomasChart" class="canvas" width="400" height="400")
        // Petteri Salo
        div.slide.container
          div(class="well playerBox masB")
            div.col-md-4.frame.masBorder
              span.helper
              img(src="/images/petteri_profile_logo.png" class="canvas playerPhoto")
            div.col-md-4.frame
              span.helper
              div.playerStats
                h2
                  b PETTERI SALO
                  |&nbsp;#9
                //- h3.mas Mika's All Stars
                ul.playerStats
                  li
                    h3 184 cm
                  li
                    h3 80 kg
                  li
                    h3 GUARD | FORWARD
            div.frame.col-md-4.canvas
              canvas(id="petteriChart" class="canvas" width="400" height="400")
        // Jukka Rajamäki
        div.slide.container
          div(class="well playerBox masB")
            div.col-md-4.frame.masBorder
              span.helper
              img(src="/images/jukka_profile_logo.png" class="canvas playerPhoto")
            div.col-md-4.frame
              span.helper
              div.playerStats
                h2
                  b JUKKA RAJAMÄKI
                  |&nbsp;#11
                //- h3.mas Mika's All Stars
                ul.playerStats
                  li
                    h3 196 cm
                  li
                    h3 110 kg
                  li
                    h3 FORWARD | CENTER
            div.frame.col-md-4.canvas
              canvas(id="jukkaChart" class="canvas" width="400" height="400")
        // Jukka Heino
        div.slide.container
          div(class="well playerBox masB")
            div.col-md-4.frame.masBorder
              span.helper
              img(src="/images/jukkah_profile_logo.png" class="canvas playerPhoto")
            div.col-md-4.frame
              span.helper
              div.playerStats
                h2
                  b JUKKA HEINO
                  |&nbsp;#12
                //- h3.mas Mika's All Stars
                ul.playerStats
                  li
                    h3 173 cm
                  li
                    h3 76 kg
                  li
                    h3 GUARD
            div.frame.col-md-4.canvas
              canvas(id="jukkahChart" class="canvas" width="400" height="400")
        // Kristian Lindfors
        div.slide.container
          div(class="well playerBox masB")
            div.col-md-4.frame.masBorder
              span.helper
              img(src="/images/kristian_profile_logo.png" class="canvas playerPhoto")
            div.col-md-4.frame
              span.helper
              div.playerStats
                h2
                  b KRISTIAN LINDFORS
                  |&nbsp;#13
                //- h3.mas Mika's All Stars
                ul.playerStats
                  li
                    h3 182 cm
                  li
                    h3 84 kg
                  li
                    h3 GUARD | FORWARD
            div.frame.col-md-4.canvas
              canvas(id="kristianChart" class="canvas" width="400" height="400")
        // Jussi Malminen
        div.slide.container
          div(class="well playerBox masB")
            div.col-md-4.frame.masBorder
              span.helper
              img(src="/images/jussi_profile_logo.png" class="canvas playerPhoto")
            div.col-md-4.frame
              span.helper
              div.playerStats
                h2
                  b JUSSI MALMINEN
                  |&nbsp;#20
                //- h3.mas Mika's All Stars
                ul.playerStats
                  li
                    h3 182 cm
                  li
                    h3 80 kg
                  li
                    h3 GUARD
            div.frame.col-md-4.canvas
              canvas(id="jussiChart" class="canvas" width="400" height="400")
        // Riku Lempiö
        div.slide.container
          div(class="well playerBox masB")
            div.col-md-4.frame.masBorder
              span.helper
              img(src="/images/riku_profile_logo.png" class="canvas playerPhoto")
            div.col-md-4.frame
              span.helper
              div.playerStats
                h2
                  b RIKU LEMPIÖ
                  |&nbsp;#31
                //- h3.mas Mika's All Stars
                ul.playerStats
                  li
                    h3 197 cm
                  li
                    h3 100 kg
                  li
                    h3 FORWARD | CENTER
            div.frame.col-md-4.canvas
              canvas(id="rikuChart" class="canvas" width="400" height="400")
        // Olli Harju
        div.slide.container
          div(class="well playerBox masB")
            div.col-md-4.frame.masBorder
              span.helper
              img(src="/images/olli_profile_logo.png" class="canvas playerPhoto")
            div.col-md-4.frame
              span.helper
              div.playerStats
                h2
                  b OLLI HARJU
                  |&nbsp;#32
                //- h3.mas Mika's All Stars
                ul.playerStats
                  li
                    h3 188 cm
                  li
                    h3 90 kg
                  li
                    h3 FORWARD
            div.frame.col-md-4.canvas
              canvas(id="olliChart" class="canvas" width="400" height="400")
        // Jaakko Lievonen
        div.slide.container
          div(class="well playerBox masB")
            div.col-md-4.frame.masBorder
              span.helper
              img(src="/images/jaakko_profile_logo.png" class="canvas playerPhoto")
            div.col-md-4.frame
              span.helper
              div.playerStats
                h2
                  b JAAKKO LIEVONEN
                  |&nbsp;#69
                //- h3.mas Mika's All Stars
                ul.playerStats
                  li
                    h3 177 cm
                  li
                    h3 90 kg
                  li
                    h3 FORWARD
            div.frame.col-md-4.canvas
              canvas(id="jaakkoChart" class="canvas" width="400" height="400")

        // Kimmo Reunila
        div.slide.container
          div(class="well playerBox conB")
            div.col-md-4.frame#frame
              span.helper
              img(src="/images/kimmo_profile_logo.png" class="canvas playerPhoto")
            div.col-md-4.fram
              span.helper
              div.playerStats
                h2
                  b KIMMO REUNILA
                  |&nbsp;#23 C
                ul.playerStats
                  li
                    h3 183 cm
                  li
                    h3 78 kg
                  li
                    h3 GUARD | FORWARD
            div.frame.col-md-4
              canvas(id="kimmoChart" class="canvas" width="400" height="400")
        // Teemu Seppälä
        div.slide.container
          div(class="well playerBox conB")
            div.col-md-4.frame#frame
              span.helper
              img(src="/images/teemu_profile_logo.png" class="canvas playerPhoto")
            div.col-md-4.frame
              span.helper
              div.playerStats
                h2
                  b TEEMU SEPPÄLÄ
                  |&nbsp;#0
                ul.playerStats
                  li
                    h3 175 cm
                  li
                    h3 76 kg
                  li
                    h3 BENCH PLAYER
            div.frame.col-md-4
              canvas(id="teemuChart" class="canvas" width="400" height="400")
        // Mikko Jämsä
        div.slide.container
          div(class="well playerBox conB")
            div.col-md-4.frame#frame
              span.helper
              img(src="/images/mikkoj_profile_logo.png" class="canvas playerPhoto")
            div.col-md-4.frame
              span.helper
              div.playerStats
                h2
                  b MIKKO JÄMSÄ
                  |&nbsp;#3
                ul.playerStats
                  li
                    h3 177 cm
                  li
                    h3 70 kg
                  li
                    h3 GUARD
            div.frame.col-md-4
              canvas(id="mikkojChart" class="canvas" width="400" height="400")
        // Olli Salminen
        div.slide.container
          div(class="well playerBox conB")
            div.col-md-4.frame#frame
              span.helper
              img(src="/images/ollis_profile_logo.png" class="canvas playerPhoto")
            div.col-md-4.frame
              span.helper
              div.playerStats
                h2
                  b OLLI SALMINEN
                  |&nbsp;#4
                ul.playerStats
                  li
                    h3 173 cm
                  li
                    h3 78 kg
                  li
                    h3 GUARD
            div.frame.col-md-4
              canvas(id="ollisChart" class="canvas" width="400" height="400")
        // Juhani Jämsä
        div.slide.container
          div(class="well playerBox conB")
            div.col-md-4.frame#frame
              span.helper
              img(src="/images/juhani_profile_logo.png" class="canvas playerPhoto")
            div.col-md-4.frame
              span.helper
              div.playerStats
                h2
                  b JUHANI JÄMSÄ
                  |&nbsp;#5
                ul.playerStats
                  li
                    h3 190 cm
                  li
                    h3 90 kg
                  li
                    h3 GUARD
            div.frame.col-md-4
              canvas(id="juhaniChart" class="canvas" width="400" height="400")
        // Niklas Lindström
        div.slide.container
          div(class="well playerBox conB")
            div.col-md-4.frame#frame
              span.helper
              img(src="/images/niklas_profile_logo.png" class="canvas playerPhoto")
            div.col-md-4.frame
              span.helper
              div.playerStats
                h2
                  b NIKLAS LINDSTRÖM
                  |&nbsp;#7
                ul.playerStats
                  li
                    h3 183 cm
                  li
                    h3 77 kg
                  li
                    h3 GUARD | FORWARD
            div.frame.col-md-4
              canvas(id="niklasChart" class="canvas" width="400" height="400")
        // Matias Repo
        div.slide.container
          div(class="well playerBox conB")
            div.col-md-4.frame#frame
              span.helper
              img(src="/images/matias_profile_logo.png" class="canvas playerPhoto")
            div.col-md-4.frame
              span.helper
              div.playerStats
                h2
                  b MATIAS REPO
                  |&nbsp;#10
                ul.playerStats
                  li
                    h3 181 cm
                  li
                    h3 95 kg
                  li
                    h3 FORWARD
            div.frame.col-md-4
              canvas(id="matiasChart" class="canvas" width="400" height="400")
        // Matias Mattila
        div.slide.container
          div(class="well playerBox conB")
            div.col-md-4.frame#frame
              span.helper
              img(src="/images/matiasm_profile_logo.png" class="canvas playerPhoto")
            div.col-md-4.frame
              span.helper
              div.playerStats
                h2
                  b MATIAS MATTILA
                  |&nbsp;#21
                ul.playerStats
                  li
                    h3 88 kg
                  li
                    h3 188 cm
                  li
                    h3 GUARD | FORWARD
            div.frame.col-md-4
              canvas(id="matiasmChart" class="canvas" width="400" height="400")
        // Sauli Sukanen
        div.slide.container
          div(class="well playerBox conB")
            div.col-md-4.frame#frame
              span.helper
              img(src="/images/sauli_profile_logo.png" class="canvas playerPhoto")
            div.col-md-4.frame
              span.helper
              div.playerStats
                h2
                  b SAULI SUKANEN
                  |&nbsp;#24
                ul.playerStats
                  li
                    h3 195 cm
                  li
                    h3 100 kg
                  li
                    h3 FORWARD | CENTER
            div.frame.col-md-4
              canvas(id="sauliChart" class="canvas" width="400" height="400")
        // Lauri Jämsä
        div.slide.container
          div(class="well playerBox conB")
            div.col-md-4.frame#frame
              span.helper
              img(src="/images/lauri_profile_logo.png" class="canvas playerPhoto")
            div.col-md-4.frame
              span.helper
              div.playerStats
                h2
                  b LAURI JÄMSÄ
                  |&nbsp;#33
                ul.playerStats
                  li
                    h3 180 cm
                  li
                    h3 80 kg
                  li
                    h3 GUARD | FORWARD
            div.frame.col-md-4
              canvas(id="lauriChart" class="canvas" width="400" height="400")
        // Benjamin Kokkonen
        div.slide.container
          div(class="well playerBox conB")
            div.col-md-4.frame#frame
              span.helper
              img(src="/images/benjamin_profile_logo.png" class="canvas playerPhoto")
            div.col-md-4.frame
              span.helper
              div.playerStats
                h2
                  b BENJAMIN KOKKONEN
                  |&nbsp;#50
                ul.playerStats
                  li
                    h3 184 cm
                  li
                    h3 105 kg
                  li
                    h3 GUARD | FORWARD
            div.frame.col-md-4
              canvas(id="benjaminChart" class="canvas" width="400" height="400")
        // Vili Valajärvi
        div.slide.container
          div(class="well playerBox conB")
            div.col-md-4.frame#frame
              span.helper
              img(src="/images/vili_profile_logo.png" class="canvas playerPhoto")
            div.col-md-4.frame
              span.helper
              div.playerStats
                h2
                  b VILI VALAJÄRVI
                  |&nbsp;#55
                ul.playerStats
                  li
                    h3 176 cm
                  li
                    h3 82 kg
                  li
                    h3 GUARD
            div.frame.col-md-4
              canvas(id="viliChart" class="canvas" width="400" height="400")
        // Jussi Lilja
        div.slide.container
          div(class="well playerBox conB")
            div.col-md-4.frame#frame
              span.helper
              img(src="/images/jussil_profile_logo.png" class="canvas playerPhoto")
            div.col-md-4.frame
              span.helper
              div.playerStats
                h2
                  b JUSSI LILJA
                  |&nbsp;#89
                ul.playerStats
                  li
                    h3 176 cm
                  li
                    h3 78 kg
                  li
                    h3 GUARD
            div.frame.col-md-4
              canvas(id="jussilChart" class="canvas" width="400" height="400")
script(src="/javascripts/mikajam.js")
