doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery.fullPage.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    script(src="/bower_components/jquery/dist/jquery.js")
    script(src="/javascripts/slapText.min.js")
    script(src="/javascripts/Chart.js")

    script(src="/javascripts/jquery.fullPage.js")
    script(src="/javascripts/vendors/jquery.easings.min.js")
    script(src="/javascripts/vendors/jquery.slimscroll.min.js")
    script(src="/bower_components/bootstrap/dist/js/bootstrap.js")

  body
    ul(id="menu" class="container")
      li(data-menuanchor="Home", class="active ")
        a(href="#Home" class="aMas") Home
      li(data-menuanchor="Rosters" class="")
        a(href="#Rosters" class="aMas") Rosters
      li(data-menuanchor="fourthPage" class="pull-right")
        a(href="#fourthPage" class="aCon" id="section4menu") Fourth section
      li(data-menuanchor="Players" class="pull-right")
        a(href="#Players" class="aCon") Players Stats

    div(id="mobile" class="container")
      h1.col-xs-12.airH MikaJam
      h2.col-xs-12.air 20.12 12:00 
      h2.col-xs-12.air @ Vehkoja
      div.col-xs-12.vsContainer
        div.col-xs-5
          img(src="/images/mikasallstars2.png"  class="col-xs-12")
        div.col-xs-2.vsText.air
          h1 VS
        div.col-xs-5
          img(src="/images/molsa_profile.png"  class="col-xs-12")
      h2.col-xs-12.air What's the Jam?
      p Tänä vuonna jo seitsemättä kertaa järjestettävä MikaJam on oodi koripallolle, hauskanpidolle ja ennen kaikkea ystävyydelle. Tapahtuman juuret juontavat  syvälle Hyvinkään Sveitsin lukion liikuntasaliin jossa ensimmäinen koripallopeli pelattiin Mika Linnaluoman syntymäpäivänä - tästä myös tapahtuma sai nimensä. 
      p Vaikka Jamit ovatkin rakentuneet vanhojen HyPo -pelaajien ympärille, kentällä nähdään myös  eri lajien edustajia - jääkiekosta curlingiin. Intohimo urheilua ja lajia kohtaan näkyy kentällä ja tuntuu katsomossa. Tapahtuma ei ole osa meitä - me olemme tapahtuma. 
      h2.air We are MikaJam
    div(id="fullpage")
      div(class="section active" id="section1")
        video(id="video" autoplay loop muted)
          source(src="/images/video/layupgopro.mp4" type="video/mp4")
          source(src="/images/video/layupgopro.webmhd.webm" type="video/webm")
        h1#pheader <br>MikaJam 20.12.2014 12:00 @ Vehkoja
      div.section#section2.container
        div.masContainer.col-md-12.row
          div.well.masTeam.col-md-9.pull-left
            div.col-md-3
              div.row
                div.col-md-6
                  a(href="#Players" class="thumbnail photoContainer")
                    p.thumbnailTextMas Mika <br> Linnaluoma
                    img(src="/images/mika_profile_logo.png" alt="..." class="img-rounded")
                div.col-md-6
                  a(href="#Players" class="thumbnail photoContainer")
                    p.thumbnailTextMas Mika <br> Linnaluoma
                    img(src="/images/mika_profile_logo.png" alt="..." class="img-rounded")
            div.col-md-3
              div.row
                div.col-md-6
                  a(href="#Players" class="thumbnail photoContainer")
                    p.thumbnailTextMas Mika <br> Linnaluoma
                    img(src="/images/mika_profile_logo.png" alt="..." class="img-rounded")
                div.col-md-6
                  a(href="#Players" class="thumbnail photoContainer")
                    p.thumbnailTextMas Mika <br> Linnaluoma
                    img(src="/images/mika_profile_logo.png" alt="..." class="img-rounded")
            div.col-md-3
              div.row
                div.col-md-6
                  a(href="#Players" class="thumbnail photoContainer")
                    p.thumbnailTextMas Mika <br> Linnaluoma
                    img(src="/images/mika_profile_logo.png" alt="..." class="img-rounded")
                div.col-md-6
                  a(href="#Players" class="thumbnail photoContainer")
                    p.thumbnailTextMas Mika <br> Linnaluoma
                    img(src="/images/mika_profile_logo.png" alt="..." class="img-rounded")
            div.col-md-3
              div.row
                div.col-md-6
                  a(href="#Players" class="thumbnail photoContainer")
                    p.thumbnailTextMas Mika <br> Linnaluoma
                    img(src="/images/mika_profile_logo.png" alt="..." class="img-rounded")
                div.col-md-6
            div.col-md-3
              div.row
                div.col-md-6
                div.col-md-6
                  a(href="#Players" class="thumbnail photoContainer")
                    p.thumbnailTextMas Mika <br> Linnaluoma
                    img(src="/images/mika_profile_logo.png" alt="..." class="img-rounded")
            div.col-md-3
              div.row
                div.col-md-6
                  a(href="#Players" class="thumbnail photoContainer")
                    p.thumbnailTextMas Mika <br> Linnaluoma
                    img(src="/images/mika_profile_logo.png" alt="..." class="img-rounded")
                div.col-md-6
                  a(href="#Players" class="thumbnail photoContainer")
                    p.thumbnailTextMas Mika <br> Linnaluoma
                    img(src="/images/mika_profile_logo.png" alt="..." class="img-rounded")
            div.col-md-3
              div.row
                div.col-md-6
                  a(href="#Players" class="thumbnail photoContainer")
                    p.thumbnailTextMas Mika <br> Linnaluoma
                    img(src="/images/mika_profile_logo.png" alt="..." class="img-rounded")
                div.col-md-6
                  a(href="#Players" class="thumbnail photoContainer")
                    p.thumbnailTextMas Mika <br> Linnaluoma
                    img(src="/images/mika_profile_logo.png" alt="..." class="img-rounded")
            div.col-md-3
              div.row
                div.col-md-6
                  a(href="#Players" class="thumbnail photoContainer")
                    p.thumbnailTextMas Mika <br> Linnaluoma
                    img(src="/images/mika_profile_logo.png" alt="..." class="img-rounded")
                div.col-md-6
                  a(href="#Players" class="thumbnail photoContainer")
                    p.thumbnailTextMas Mika <br> Linnaluoma
                    img(src="/images/mika_profile_logo.png" alt="..." class="img-rounded")
          div.masTeamText.col-md-3.pull-right
            img(src="/images/mikasallstars2.png"  class="col-md-12")
        div.conContainer.col-md-12.row
          div.conTeamText.col-md-3.pull-left
            img(src="/images/contnders_logo.png"  class="col-md-12")
          div.well.conTeam.col-md-9.pull-right#conTeam
            div.col-md-3
              div.row
                div.col-md-6
                  a(href="#Players" class="thumbnail photoContainer")
                    p.thumbnailTextCon Kristian<br>Lindfors
                    img(src="/images/molsa_profile.png" alt="..." class="img-rounded")
                div.col-md-6
                  a(href="#Players" class="thumbnail photoContainer")
                    p.thumbnailTextCon Kristian<br>Lindfors
                    img(src="/images/molsa_profile.png" alt="..." class="img-rounded")
            div.col-md-3
              div.row
                div.col-md-6
                  a(href="#Players" class="thumbnail photoContainer")
                    p.thumbnailTextCon Kristian<br>Lindfors
                    img(src="/images/molsa_profile.png" alt="..." class="img-rounded")
                div.col-md-6
                  a(href="#Players" class="thumbnail photoContainer")
                    p.thumbnailTextCon Kristian<br>Lindfors
                    img(src="/images/molsa_profile.png" alt="..." class="img-rounded")
            div.col-md-3
              div.row
                div.col-md-6
                  a(href="#Players" class="thumbnail photoContainer")
                    p.thumbnailTextCon Kristian<br>Lindfors
                    img(src="/images/molsa_profile.png" alt="..." class="img-rounded")
                div.col-md-6
                  a(href="#Players" class="thumbnail photoContainer")
                    p.thumbnailTextCon Kristian<br>Lindfors
                    img(src="/images/molsa_profile.png" alt="..." class="img-rounded")
            div.col-md-3
              div.row
                div.col-md-6
                  a(href="#Players" class="thumbnail photoContainer")
                    p.thumbnailTextCon Kristian<br>Lindfors
                    img(src="/images/molsa_profile.png" alt="..." class="img-rounded")
                div.col-md-6
                  a(href="#Players" class="thumbnail photoContainer")
                    p.thumbnailTextCon Kristian<br>Lindfors
                    img(src="/images/molsa_profile.png" alt="..." class="img-rounded")

            div.col-md-3
              div.row
                div.col-md-6
                  a(href="#Players" class="thumbnail photoContainer")
                    p.thumbnailTextCon Kristian<br>Lindfors
                    img(src="/images/molsa_profile.png" alt="..." class="img-rounded")
                div.col-md-6
                  a(href="#Players" class="thumbnail photoContainer")
                    p.thumbnailTextCon Kristian<br>Lindfors
                    img(src="/images/molsa_profile.png" alt="..." class="img-rounded")
            div.col-md-3
              div.row
                div.col-md-6
                  a(href="#Players" class="thumbnail photoContainer")
                    p.thumbnailTextCon Kristian<br>Lindfors
                    img(src="/images/molsa_profile.png" alt="..." class="img-rounded")
                div.col-md-6
                  a(href="#Players" class="thumbnail photoContainer")
                    p.thumbnailTextCon Kristian<br>Lindfors
                    img(src="/images/molsa_profile.png" alt="..." class="img-rounded")
            div.col-md-3
              div.row
                div.col-md-6
                  a(href="#Players" class="thumbnail photoContainer")
                    p.thumbnailTextCon Kristian<br>Lindfors
                    img(src="/images/molsa_profile.png" alt="..." class="img-rounded")
                div.col-md-6
                  a(href="#Players" class="thumbnail photoContainer")
                    p.thumbnailTextCon Niklas<br>Lindström
                    img(src="/images/molsa_profile.png" alt="..." class="img-rounded")
            div.col-md-3
              div.row
                div.col-md-6
                  a(href="#Players" class="thumbnail photoContainer")
                    p.thumbnailTextCon Benjamin<br>Kokkonen
                    img(src="/images/molsa_profile.png" alt="..." class="img-rounded")
                div.col-md-6
      div.section#section3
        // Mika Linnaluoma
        div.slide.container
          div(class="well playerBox masB")
            div.col-md-4.frame.masBorder
              span.helper
              img(src="/images/mika_profile_logo.png" class="canvas playerPhoto")
            div.col-md-4.frame
              span.helper
              div.playerStats
                h2
                  b MIKA LINNALUOMA
                  |&nbsp;#5 C
                //- h3.mas Mika's All Stars
                ul.playerStats
                  li
                    h3 179 cm
                  li
                    h3 78 kg
                  li
                    h3 GUARD
            div.frame.col-md-4.canvas
              canvas(id="mikaChart" class="canvas" width="400" height="400")
        // Matias Mattila
        div.slide.container
          div(class="well playerBox conB")
            div.col-md-4.frame#frame
              span.helper
              img(src="/images/molsa_profile.png" class="canvas playerPhoto")
            div.col-md-4.frame
              h2
                b Matias Mattila
                |&nbsp;#21
              ul.playerStats
                li
                  h3 88 kg
                li
                  h3 188 cm
                li
                  h3 GUARD | FORWARD
            div.frame.col-md-4
              canvas(id="matiasmChart" class="canvas" width="400" height="400")
        //- // Tuomas Viertola
        //- div.slide.container
        //-   div(class="well playerBox")
        //-     canvas(id="tuomasChart" class="pull-right canvas" width="400" height="400")
        //-     h2 Tuomas Viertola #6
        //-     h3.mas Mika's All Stars
        //-     p Info text
        //-       |Lorem Ipsum on yksinkertaisesti testausteksti, jota tulostus- ja ladontateollisuudet käyttävät. Lorem Ipsum on ollut teollisuuden normaali testausteksti jo 1500-luvulta asti, jolloin tuntematon tulostaja otti kaljuunan ja sekoitti sen tehdäkseen esimerkkikirjan. Se ei ole selvinnyt vain viittä vuosisataa, mutta myös loikan elektroniseen kirjoitukseen, jääden suurinpiirtein muuntamattomana. Se tuli kuuluisuuteen 1960-luvulla kun Letraset-paperiarkit, joissa oli Lorem Ipsum pätkiä, julkaistiin ja vielä myöhemmin tietokoneen julkistusohjelmissa, kuten Aldus PageMaker joissa oli versioita Lorem Ipsumista.
        //-     p |Lorem Ipsum on yksinkertaisesti testausteksti, jota tulostus- ja ladontateollisuudet käyttävät. Lorem Ipsum on ollut teollisuuden normaali testausteksti jo 1500-luvulta asti, jolloin tuntematon tulostaja otti kaljuunan ja sekoitti sen tehdäkseen esimerkkikirjan. Se ei ole selvinnyt vain viittä vuosisataa, mutta myös loikan elektroniseen kirjoitukseen, jääden suurinpiirtein muuntamattomana. Se tuli kuuluisuuteen 1960-luvulla kun Letraset-paperiarkit, joissa oli Lorem Ipsum pätkiä, julkaistiin ja vielä myöhemmin tietokoneen julkistusohjelmissa, kuten Aldus PageMaker joissa oli versioita Lorem Ipsumista.
        //- // Petteri Salo
        //- div.slide.container
        //-   div(class="well playerBox")
        //-     canvas(id="petteriChart" class="pull-right canvas" width="400" height="400")
        //-     h2 Petteri Salo #9
        //-     h3.mas Mika's All Stars
        //-     p Info text
        //-       |Lorem Ipsum on yksinkertaisesti testausteksti, jota tulostus- ja ladontateollisuudet käyttävät. Lorem Ipsum on ollut teollisuuden normaali testausteksti jo 1500-luvulta asti, jolloin tuntematon tulostaja otti kaljuunan ja sekoitti sen tehdäkseen esimerkkikirjan. Se ei ole selvinnyt vain viittä vuosisataa, mutta myös loikan elektroniseen kirjoitukseen, jääden suurinpiirtein muuntamattomana. Se tuli kuuluisuuteen 1960-luvulla kun Letraset-paperiarkit, joissa oli Lorem Ipsum pätkiä, julkaistiin ja vielä myöhemmin tietokoneen julkistusohjelmissa, kuten Aldus PageMaker joissa oli versioita Lorem Ipsumista.
        //-     p |Lorem Ipsum on yksinkertaisesti testausteksti, jota tulostus- ja ladontateollisuudet käyttävät. Lorem Ipsum on ollut teollisuuden normaali testausteksti jo 1500-luvulta asti, jolloin tuntematon tulostaja otti kaljuunan ja sekoitti sen tehdäkseen esimerkkikirjan. Se ei ole selvinnyt vain viittä vuosisataa, mutta myös loikan elektroniseen kirjoitukseen, jääden suurinpiirtein muuntamattomana. Se tuli kuuluisuuteen 1960-luvulla kun Letraset-paperiarkit, joissa oli Lorem Ipsum pätkiä, julkaistiin ja vielä myöhemmin tietokoneen julkistusohjelmissa, kuten Aldus PageMaker joissa oli versioita Lorem Ipsumista.
        //- // Jukka Rajamäki
        //- div.slide.container
        //-   div(class="well playerBox")
        //-     canvas(id="jukkaChart" class="pull-right canvas" width="400" height="400")
        //-     h2 Jukka Rajamäki #11
        //-     h3.mas Mika's All Stars
        //-     p Info text
        //-       |Lorem Ipsum on yksinkertaisesti testausteksti, jota tulostus- ja ladontateollisuudet käyttävät. Lorem Ipsum on ollut teollisuuden normaali testausteksti jo 1500-luvulta asti, jolloin tuntematon tulostaja otti kaljuunan ja sekoitti sen tehdäkseen esimerkkikirjan. Se ei ole selvinnyt vain viittä vuosisataa, mutta myös loikan elektroniseen kirjoitukseen, jääden suurinpiirtein muuntamattomana. Se tuli kuuluisuuteen 1960-luvulla kun Letraset-paperiarkit, joissa oli Lorem Ipsum pätkiä, julkaistiin ja vielä myöhemmin tietokoneen julkistusohjelmissa, kuten Aldus PageMaker joissa oli versioita Lorem Ipsumista.
        //-     p |Lorem Ipsum on yksinkertaisesti testausteksti, jota tulostus- ja ladontateollisuudet käyttävät. Lorem Ipsum on ollut teollisuuden normaali testausteksti jo 1500-luvulta asti, jolloin tuntematon tulostaja otti kaljuunan ja sekoitti sen tehdäkseen esimerkkikirjan. Se ei ole selvinnyt vain viittä vuosisataa, mutta myös loikan elektroniseen kirjoitukseen, jääden suurinpiirtein muuntamattomana. Se tuli kuuluisuuteen 1960-luvulla kun Letraset-paperiarkit, joissa oli Lorem Ipsum pätkiä, julkaistiin ja vielä myöhemmin tietokoneen julkistusohjelmissa, kuten Aldus PageMaker joissa oli versioita Lorem Ipsumista.
        //- // Jukka Heino
        //- div.slide.container
        //-   div(class="well playerBox")
        //-     canvas(id="jukkahChart" class="pull-right canvas" width="400" height="400")
        //-     h2 Jukka Heino #12
        //-     h3.mas Mika's All Stars
        //-     p Info text
        //-       |Lorem Ipsum on yksinkertaisesti testausteksti, jota tulostus- ja ladontateollisuudet käyttävät. Lorem Ipsum on ollut teollisuuden normaali testausteksti jo 1500-luvulta asti, jolloin tuntematon tulostaja otti kaljuunan ja sekoitti sen tehdäkseen esimerkkikirjan. Se ei ole selvinnyt vain viittä vuosisataa, mutta myös loikan elektroniseen kirjoitukseen, jääden suurinpiirtein muuntamattomana. Se tuli kuuluisuuteen 1960-luvulla kun Letraset-paperiarkit, joissa oli Lorem Ipsum pätkiä, julkaistiin ja vielä myöhemmin tietokoneen julkistusohjelmissa, kuten Aldus PageMaker joissa oli versioita Lorem Ipsumista.
        //-     p |Lorem Ipsum on yksinkertaisesti testausteksti, jota tulostus- ja ladontateollisuudet käyttävät. Lorem Ipsum on ollut teollisuuden normaali testausteksti jo 1500-luvulta asti, jolloin tuntematon tulostaja otti kaljuunan ja sekoitti sen tehdäkseen esimerkkikirjan. Se ei ole selvinnyt vain viittä vuosisataa, mutta myös loikan elektroniseen kirjoitukseen, jääden suurinpiirtein muuntamattomana. Se tuli kuuluisuuteen 1960-luvulla kun Letraset-paperiarkit, joissa oli Lorem Ipsum pätkiä, julkaistiin ja vielä myöhemmin tietokoneen julkistusohjelmissa, kuten Aldus PageMaker joissa oli versioita Lorem Ipsumista.
        //- // Kristian Lindfors
        //- div.slide.container
        //-   div(class="well playerBox")
        //-     canvas(id="kristianChart" class="pull-right canvas" width="400" height="400")
        //-     h2 Kristian Lindfors #13
        //-     h3.mas Mika's All Stars
        //-     p Info text
        //-       |Lorem Ipsum on yksinkertaisesti testausteksti, jota tulostus- ja ladontateollisuudet käyttävät. Lorem Ipsum on ollut teollisuuden normaali testausteksti jo 1500-luvulta asti, jolloin tuntematon tulostaja otti kaljuunan ja sekoitti sen tehdäkseen esimerkkikirjan. Se ei ole selvinnyt vain viittä vuosisataa, mutta myös loikan elektroniseen kirjoitukseen, jääden suurinpiirtein muuntamattomana. Se tuli kuuluisuuteen 1960-luvulla kun Letraset-paperiarkit, joissa oli Lorem Ipsum pätkiä, julkaistiin ja vielä myöhemmin tietokoneen julkistusohjelmissa, kuten Aldus PageMaker joissa oli versioita Lorem Ipsumista.
        //-     p |Lorem Ipsum on yksinkertaisesti testausteksti, jota tulostus- ja ladontateollisuudet käyttävät. Lorem Ipsum on ollut teollisuuden normaali testausteksti jo 1500-luvulta asti, jolloin tuntematon tulostaja otti kaljuunan ja sekoitti sen tehdäkseen esimerkkikirjan. Se ei ole selvinnyt vain viittä vuosisataa, mutta myös loikan elektroniseen kirjoitukseen, jääden suurinpiirtein muuntamattomana. Se tuli kuuluisuuteen 1960-luvulla kun Letraset-paperiarkit, joissa oli Lorem Ipsum pätkiä, julkaistiin ja vielä myöhemmin tietokoneen julkistusohjelmissa, kuten Aldus PageMaker joissa oli versioita Lorem Ipsumista.
        //- // Jussi Malminen
        //- div.slide.container
        //-   div(class="well playerBox")
        //-     canvas(id="jussiChart" class="pull-right canvas" width="400" height="400")
        //-     h2 Jussi Malminen #20
        //-     h3.mas Mika's All Stars
        //-     p Info text
        //-       |Lorem Ipsum on yksinkertaisesti testausteksti, jota tulostus- ja ladontateollisuudet käyttävät. Lorem Ipsum on ollut teollisuuden normaali testausteksti jo 1500-luvulta asti, jolloin tuntematon tulostaja otti kaljuunan ja sekoitti sen tehdäkseen esimerkkikirjan. Se ei ole selvinnyt vain viittä vuosisataa, mutta myös loikan elektroniseen kirjoitukseen, jääden suurinpiirtein muuntamattomana. Se tuli kuuluisuuteen 1960-luvulla kun Letraset-paperiarkit, joissa oli Lorem Ipsum pätkiä, julkaistiin ja vielä myöhemmin tietokoneen julkistusohjelmissa, kuten Aldus PageMaker joissa oli versioita Lorem Ipsumista.
        //-     p |Lorem Ipsum on yksinkertaisesti testausteksti, jota tulostus- ja ladontateollisuudet käyttävät. Lorem Ipsum on ollut teollisuuden normaali testausteksti jo 1500-luvulta asti, jolloin tuntematon tulostaja otti kaljuunan ja sekoitti sen tehdäkseen esimerkkikirjan. Se ei ole selvinnyt vain viittä vuosisataa, mutta myös loikan elektroniseen kirjoitukseen, jääden suurinpiirtein muuntamattomana. Se tuli kuuluisuuteen 1960-luvulla kun Letraset-paperiarkit, joissa oli Lorem Ipsum pätkiä, julkaistiin ja vielä myöhemmin tietokoneen julkistusohjelmissa, kuten Aldus PageMaker joissa oli versioita Lorem Ipsumista.
        //- // Riku Lempiö
        //- div.slide.container
        //-   div(class="well playerBox")
        //-     canvas(id="rikuChart" class="pull-right canvas" width="400" height="400")
        //-     h2 Riku Lempiö #31
        //-     h3.mas Mika's All Stars
        //-     p Info text
        //-       |Lorem Ipsum on yksinkertaisesti testausteksti, jota tulostus- ja ladontateollisuudet käyttävät. Lorem Ipsum on ollut teollisuuden normaali testausteksti jo 1500-luvulta asti, jolloin tuntematon tulostaja otti kaljuunan ja sekoitti sen tehdäkseen esimerkkikirjan. Se ei ole selvinnyt vain viittä vuosisataa, mutta myös loikan elektroniseen kirjoitukseen, jääden suurinpiirtein muuntamattomana. Se tuli kuuluisuuteen 1960-luvulla kun Letraset-paperiarkit, joissa oli Lorem Ipsum pätkiä, julkaistiin ja vielä myöhemmin tietokoneen julkistusohjelmissa, kuten Aldus PageMaker joissa oli versioita Lorem Ipsumista.
        //-     p |Lorem Ipsum on yksinkertaisesti testausteksti, jota tulostus- ja ladontateollisuudet käyttävät. Lorem Ipsum on ollut teollisuuden normaali testausteksti jo 1500-luvulta asti, jolloin tuntematon tulostaja otti kaljuunan ja sekoitti sen tehdäkseen esimerkkikirjan. Se ei ole selvinnyt vain viittä vuosisataa, mutta myös loikan elektroniseen kirjoitukseen, jääden suurinpiirtein muuntamattomana. Se tuli kuuluisuuteen 1960-luvulla kun Letraset-paperiarkit, joissa oli Lorem Ipsum pätkiä, julkaistiin ja vielä myöhemmin tietokoneen julkistusohjelmissa, kuten Aldus PageMaker joissa oli versioita Lorem Ipsumista.
        //- // Olli Harju
        //- div.slide.container
        //-   div(class="well playerBox")
        //-     canvas(id="olliChart" class="pull-right canvas" width="400" height="400")
        //-     h2 Olli Harju #32
        //-     h3.mas Mika's All Stars
        //-     p Info text
        //-       |Lorem Ipsum on yksinkertaisesti testausteksti, jota tulostus- ja ladontateollisuudet käyttävät. Lorem Ipsum on ollut teollisuuden normaali testausteksti jo 1500-luvulta asti, jolloin tuntematon tulostaja otti kaljuunan ja sekoitti sen tehdäkseen esimerkkikirjan. Se ei ole selvinnyt vain viittä vuosisataa, mutta myös loikan elektroniseen kirjoitukseen, jääden suurinpiirtein muuntamattomana. Se tuli kuuluisuuteen 1960-luvulla kun Letraset-paperiarkit, joissa oli Lorem Ipsum pätkiä, julkaistiin ja vielä myöhemmin tietokoneen julkistusohjelmissa, kuten Aldus PageMaker joissa oli versioita Lorem Ipsumista.
        //-     p |Lorem Ipsum on yksinkertaisesti testausteksti, jota tulostus- ja ladontateollisuudet käyttävät. Lorem Ipsum on ollut teollisuuden normaali testausteksti jo 1500-luvulta asti, jolloin tuntematon tulostaja otti kaljuunan ja sekoitti sen tehdäkseen esimerkkikirjan. Se ei ole selvinnyt vain viittä vuosisataa, mutta myös loikan elektroniseen kirjoitukseen, jääden suurinpiirtein muuntamattomana. Se tuli kuuluisuuteen 1960-luvulla kun Letraset-paperiarkit, joissa oli Lorem Ipsum pätkiä, julkaistiin ja vielä myöhemmin tietokoneen julkistusohjelmissa, kuten Aldus PageMaker joissa oli versioita Lorem Ipsumista.
        //- // Jaakko Lievonen
        //- div.slide.container
        //-   div(class="well playerBox")
        //-     canvas(id="jaakkoChart" class="pull-right canvas" width="400" height="400")
        //-     h2 Jaakko Lievonen #69
        //-     h3.mas Mika's All Stars
        //-     p Info text
        //-       |Lorem Ipsum on yksinkertaisesti testausteksti, jota tulostus- ja ladontateollisuudet käyttävät. Lorem Ipsum on ollut teollisuuden normaali testausteksti jo 1500-luvulta asti, jolloin tuntematon tulostaja otti kaljuunan ja sekoitti sen tehdäkseen esimerkkikirjan. Se ei ole selvinnyt vain viittä vuosisataa, mutta myös loikan elektroniseen kirjoitukseen, jääden suurinpiirtein muuntamattomana. Se tuli kuuluisuuteen 1960-luvulla kun Letraset-paperiarkit, joissa oli Lorem Ipsum pätkiä, julkaistiin ja vielä myöhemmin tietokoneen julkistusohjelmissa, kuten Aldus PageMaker joissa oli versioita Lorem Ipsumista.
        //-     p |Lorem Ipsum on yksinkertaisesti testausteksti, jota tulostus- ja ladontateollisuudet käyttävät. Lorem Ipsum on ollut teollisuuden normaali testausteksti jo 1500-luvulta asti, jolloin tuntematon tulostaja otti kaljuunan ja sekoitti sen tehdäkseen esimerkkikirjan. Se ei ole selvinnyt vain viittä vuosisataa, mutta myös loikan elektroniseen kirjoitukseen, jääden suurinpiirtein muuntamattomana. Se tuli kuuluisuuteen 1960-luvulla kun Letraset-paperiarkit, joissa oli Lorem Ipsum pätkiä, julkaistiin ja vielä myöhemmin tietokoneen julkistusohjelmissa, kuten Aldus PageMaker joissa oli versioita Lorem Ipsumista.
        //- // Benjaminen Kokkonen
        //- div.slide.container
        //-   div(class="well playerBox")
        //-     canvas(id="benjaminChart" class="pull-right canvas" width="400" height="400")
        //-     h2 Benjamin Kokkonen #?
        //-     h3.mas Mika's All Stars
        //-     p Info text
        //-       |Lorem Ipsum on yksinkertaisesti testausteksti, jota tulostus- ja ladontateollisuudet käyttävät. Lorem Ipsum on ollut teollisuuden normaali testausteksti jo 1500-luvulta asti, jolloin tuntematon tulostaja otti kaljuunan ja sekoitti sen tehdäkseen esimerkkikirjan. Se ei ole selvinnyt vain viittä vuosisataa, mutta myös loikan elektroniseen kirjoitukseen, jääden suurinpiirtein muuntamattomana. Se tuli kuuluisuuteen 1960-luvulla kun Letraset-paperiarkit, joissa oli Lorem Ipsum pätkiä, julkaistiin ja vielä myöhemmin tietokoneen julkistusohjelmissa, kuten Aldus PageMaker joissa oli versioita Lorem Ipsumista.
        //-     p |Lorem Ipsum on yksinkertaisesti testausteksti, jota tulostus- ja ladontateollisuudet käyttävät. Lorem Ipsum on ollut teollisuuden normaali testausteksti jo 1500-luvulta asti, jolloin tuntematon tulostaja otti kaljuunan ja sekoitti sen tehdäkseen esimerkkikirjan. Se ei ole selvinnyt vain viittä vuosisataa, mutta myös loikan elektroniseen kirjoitukseen, jääden suurinpiirtein muuntamattomana. Se tuli kuuluisuuteen 1960-luvulla kun Letraset-paperiarkit, joissa oli Lorem Ipsum pätkiä, julkaistiin ja vielä myöhemmin tietokoneen julkistusohjelmissa, kuten Aldus PageMaker joissa oli versioita Lorem Ipsumista.
        //-
        //- ////////////////////////////
        //- // Contenders/////
        //- ////////////////////////////
        //- // Kimmo Reunila
        //- div.slide
        //-   div(class="well playerBox")
        //-     canvas(id="kimmoChart" class="pull-right canvas" width="400px" height="350")
        //-     h2 Kimmo Reunila #23
        //-     h3.con Contenders
        //-     p Info text
        //-       |Lorem Ipsum on yksinkertaisesti testausteksti, jota tulostus- ja ladontateollisuudet käyttävät. Lorem Ipsum on ollut teollisuuden normaali testausteksti jo 1500-luvulta asti, jolloin tuntematon tulostaja otti kaljuunan ja sekoitti sen tehdäkseen esimerkkikirjan. Se ei ole selvinnyt vain viittä vuosisataa, mutta myös loikan elektroniseen kirjoitukseen, jääden suurinpiirtein muuntamattomana. Se tuli kuuluisuuteen 1960-luvulla kun Letraset-paperiarkit, joissa oli Lorem Ipsum pätkiä, julkaistiin ja vielä myöhemmin tietokoneen julkistusohjelmissa, kuten Aldus PageMaker joissa oli versioita Lorem Ipsumista.
        //-     p |Lorem Ipsum on yksinkertaisesti testausteksti, jota tulostus- ja ladontateollisuudet käyttävät. Lorem Ipsum on ollut teollisuuden normaali testausteksti jo 1500-luvulta asti, jolloin tuntematon tulostaja otti kaljuunan ja sekoitti sen tehdäkseen esimerkkikirjan. Se ei ole selvinnyt vain viittä vuosisataa, mutta myös loikan elektroniseen kirjoitukseen, jääden suurinpiirtein muuntamattomana. Se tuli kuuluisuuteen 1960-luvulla kun Letraset-paperiarkit, joissa oli Lorem Ipsum pätkiä, julkaistiin ja vielä myöhemmin tietokoneen julkistusohjelmissa, kuten Aldus PageMaker joissa oli versioita Lorem Ipsumista.
        //- //Teemu Seppälä
        //- div.slide
        //-   div(class="well playerBox")
        //-     canvas(id="teemuChart" class="pull-right canvas" width="400px" height="350")
        //-     h2 Teemu Seppälä #0
        //-     h3.con Contenders
        //-     p Info text
        //-       |Lorem Ipsum on yksinkertaisesti testausteksti, jota tulostus- ja ladontateollisuudet käyttävät. Lorem Ipsum on ollut teollisuuden normaali testausteksti jo 1500-luvulta asti, jolloin tuntematon tulostaja otti kaljuunan ja sekoitti sen tehdäkseen esimerkkikirjan. Se ei ole selvinnyt vain viittä vuosisataa, mutta myös loikan elektroniseen kirjoitukseen, jääden suurinpiirtein muuntamattomana. Se tuli kuuluisuuteen 1960-luvulla kun Letraset-paperiarkit, joissa oli Lorem Ipsum pätkiä, julkaistiin ja vielä myöhemmin tietokoneen julkistusohjelmissa, kuten Aldus PageMaker joissa oli versioita Lorem Ipsumista.
        //-     p |Lorem Ipsum on yksinkertaisesti testausteksti, jota tulostus- ja ladontateollisuudet käyttävät. Lorem Ipsum on ollut teollisuuden normaali testausteksti jo 1500-luvulta asti, jolloin tuntematon tulostaja otti kaljuunan ja sekoitti sen tehdäkseen esimerkkikirjan. Se ei ole selvinnyt vain viittä vuosisataa, mutta myös loikan elektroniseen kirjoitukseen, jääden suurinpiirtein muuntamattomana. Se tuli kuuluisuuteen 1960-luvulla kun Letraset-paperiarkit, joissa oli Lorem Ipsum pätkiä, julkaistiin ja vielä myöhemmin tietokoneen julkistusohjelmissa, kuten Aldus PageMaker joissa oli versioita Lorem Ipsumista.
        //- //Mikko Jämsä
        //- div.slide
        //-   div(class="well playerBox")
        //-     canvas(id="mikkojChart" class="pull-right canvas" width="400px" height="350")
        //-     h2 Mikko Jämsä #?
        //-     h3.con Contenders
        //-     p Info text
        //-       |Lorem Ipsum on yksinkertaisesti testausteksti, jota tulostus- ja ladontateollisuudet käyttävät. Lorem Ipsum on ollut teollisuuden normaali testausteksti jo 1500-luvulta asti, jolloin tuntematon tulostaja otti kaljuunan ja sekoitti sen tehdäkseen esimerkkikirjan. Se ei ole selvinnyt vain viittä vuosisataa, mutta myös loikan elektroniseen kirjoitukseen, jääden suurinpiirtein muuntamattomana. Se tuli kuuluisuuteen 1960-luvulla kun Letraset-paperiarkit, joissa oli Lorem Ipsum pätkiä, julkaistiin ja vielä myöhemmin tietokoneen julkistusohjelmissa, kuten Aldus PageMaker joissa oli versioita Lorem Ipsumista.
        //-     p |Lorem Ipsum on yksinkertaisesti testausteksti, jota tulostus- ja ladontateollisuudet käyttävät. Lorem Ipsum on ollut teollisuuden normaali testausteksti jo 1500-luvulta asti, jolloin tuntematon tulostaja otti kaljuunan ja sekoitti sen tehdäkseen esimerkkikirjan. Se ei ole selvinnyt vain viittä vuosisataa, mutta myös loikan elektroniseen kirjoitukseen, jääden suurinpiirtein muuntamattomana. Se tuli kuuluisuuteen 1960-luvulla kun Letraset-paperiarkit, joissa oli Lorem Ipsum pätkiä, julkaistiin ja vielä myöhemmin tietokoneen julkistusohjelmissa, kuten Aldus PageMaker joissa oli versioita Lorem Ipsumista.
        //- //Olli Salminen
        //- div.slide
        //-   div(class="well playerBox")
        //-     canvas(id="ollisChart" class="pull-right canvas" width="400px" height="350")
        //-     h2 Olli Salminen #4
        //-     h3.con Contenders
        //-     p Info text
        //-       |Lorem Ipsum on yksinkertaisesti testausteksti, jota tulostus- ja ladontateollisuudet käyttävät. Lorem Ipsum on ollut teollisuuden normaali testausteksti jo 1500-luvulta asti, jolloin tuntematon tulostaja otti kaljuunan ja sekoitti sen tehdäkseen esimerkkikirjan. Se ei ole selvinnyt vain viittä vuosisataa, mutta myös loikan elektroniseen kirjoitukseen, jääden suurinpiirtein muuntamattomana. Se tuli kuuluisuuteen 1960-luvulla kun Letraset-paperiarkit, joissa oli Lorem Ipsum pätkiä, julkaistiin ja vielä myöhemmin tietokoneen julkistusohjelmissa, kuten Aldus PageMaker joissa oli versioita Lorem Ipsumista.
        //-     p |Lorem Ipsum on yksinkertaisesti testausteksti, jota tulostus- ja ladontateollisuudet käyttävät. Lorem Ipsum on ollut teollisuuden normaali testausteksti jo 1500-luvulta asti, jolloin tuntematon tulostaja otti kaljuunan ja sekoitti sen tehdäkseen esimerkkikirjan. Se ei ole selvinnyt vain viittä vuosisataa, mutta myös loikan elektroniseen kirjoitukseen, jääden suurinpiirtein muuntamattomana. Se tuli kuuluisuuteen 1960-luvulla kun Letraset-paperiarkit, joissa oli Lorem Ipsum pätkiä, julkaistiin ja vielä myöhemmin tietokoneen julkistusohjelmissa, kuten Aldus PageMaker joissa oli versioita Lorem Ipsumista.
        //- //Juhani Jämsä
        //- div.slide
        //-   div(class="well playerBox")
        //-     canvas(id="juhaniChart" class="pull-right canvas" width="400px" height="350")
        //-     h2 Juhani Jämsä #5
        //-     h3.con Contenders
        //-     p Info text
        //-       |Lorem Ipsum on yksinkertaisesti testausteksti, jota tulostus- ja ladontateollisuudet käyttävät. Lorem Ipsum on ollut teollisuuden normaali testausteksti jo 1500-luvulta asti, jolloin tuntematon tulostaja otti kaljuunan ja sekoitti sen tehdäkseen esimerkkikirjan. Se ei ole selvinnyt vain viittä vuosisataa, mutta myös loikan elektroniseen kirjoitukseen, jääden suurinpiirtein muuntamattomana. Se tuli kuuluisuuteen 1960-luvulla kun Letraset-paperiarkit, joissa oli Lorem Ipsum pätkiä, julkaistiin ja vielä myöhemmin tietokoneen julkistusohjelmissa, kuten Aldus PageMaker joissa oli versioita Lorem Ipsumista.
        //-     p |Lorem Ipsum on yksinkertaisesti testausteksti, jota tulostus- ja ladontateollisuudet käyttävät. Lorem Ipsum on ollut teollisuuden normaali testausteksti jo 1500-luvulta asti, jolloin tuntematon tulostaja otti kaljuunan ja sekoitti sen tehdäkseen esimerkkikirjan. Se ei ole selvinnyt vain viittä vuosisataa, mutta myös loikan elektroniseen kirjoitukseen, jääden suurinpiirtein muuntamattomana. Se tuli kuuluisuuteen 1960-luvulla kun Letraset-paperiarkit, joissa oli Lorem Ipsum pätkiä, julkaistiin ja vielä myöhemmin tietokoneen julkistusohjelmissa, kuten Aldus PageMaker joissa oli versioita Lorem Ipsumista.
        //- //Niklas Lindström
        //- div.slide
        //-   div(class="well playerBox")
        //-     canvas(id="niklasChart" class="pull-right canvas" width="400px" height="350")
        //-     h2 Niklas Lindström #7
        //-     h3.con Contenders
        //-     p Info text
        //-       |Lorem Ipsum on yksinkertaisesti testausteksti, jota tulostus- ja ladontateollisuudet käyttävät. Lorem Ipsum on ollut teollisuuden normaali testausteksti jo 1500-luvulta asti, jolloin tuntematon tulostaja otti kaljuunan ja sekoitti sen tehdäkseen esimerkkikirjan. Se ei ole selvinnyt vain viittä vuosisataa, mutta myös loikan elektroniseen kirjoitukseen, jääden suurinpiirtein muuntamattomana. Se tuli kuuluisuuteen 1960-luvulla kun Letraset-paperiarkit, joissa oli Lorem Ipsum pätkiä, julkaistiin ja vielä myöhemmin tietokoneen julkistusohjelmissa, kuten Aldus PageMaker joissa oli versioita Lorem Ipsumista.
        //-     p |Lorem Ipsum on yksinkertaisesti testausteksti, jota tulostus- ja ladontateollisuudet käyttävät. Lorem Ipsum on ollut teollisuuden normaali testausteksti jo 1500-luvulta asti, jolloin tuntematon tulostaja otti kaljuunan ja sekoitti sen tehdäkseen esimerkkikirjan. Se ei ole selvinnyt vain viittä vuosisataa, mutta myös loikan elektroniseen kirjoitukseen, jääden suurinpiirtein muuntamattomana. Se tuli kuuluisuuteen 1960-luvulla kun Letraset-paperiarkit, joissa oli Lorem Ipsum pätkiä, julkaistiin ja vielä myöhemmin tietokoneen julkistusohjelmissa, kuten Aldus PageMaker joissa oli versioita Lorem Ipsumista.
        //- //Matias Repo
        //- div.slide
        //-   div(class="well playerBox")
        //-     canvas(id="matiasChart" class="pull-right canvas" width="400px" height="350")
        //-     h2 Matias Repo #10
        //-     h3.con Contenders
        //-     p Info text
        //-       |Lorem Ipsum on yksinkertaisesti testausteksti, jota tulostus- ja ladontateollisuudet käyttävät. Lorem Ipsum on ollut teollisuuden normaali testausteksti jo 1500-luvulta asti, jolloin tuntematon tulostaja otti kaljuunan ja sekoitti sen tehdäkseen esimerkkikirjan. Se ei ole selvinnyt vain viittä vuosisataa, mutta myös loikan elektroniseen kirjoitukseen, jääden suurinpiirtein muuntamattomana. Se tuli kuuluisuuteen 1960-luvulla kun Letraset-paperiarkit, joissa oli Lorem Ipsum pätkiä, julkaistiin ja vielä myöhemmin tietokoneen julkistusohjelmissa, kuten Aldus PageMaker joissa oli versioita Lorem Ipsumista.
        //-     p |Lorem Ipsum on yksinkertaisesti testausteksti, jota tulostus- ja ladontateollisuudet käyttävät. Lorem Ipsum on ollut teollisuuden normaali testausteksti jo 1500-luvulta asti, jolloin tuntematon tulostaja otti kaljuunan ja sekoitti sen tehdäkseen esimerkkikirjan. Se ei ole selvinnyt vain viittä vuosisataa, mutta myös loikan elektroniseen kirjoitukseen, jääden suurinpiirtein muuntamattomana. Se tuli kuuluisuuteen 1960-luvulla kun Letraset-paperiarkit, joissa oli Lorem Ipsum pätkiä, julkaistiin ja vielä myöhemmin tietokoneen julkistusohjelmissa, kuten Aldus PageMaker joissa oli versioita Lorem Ipsumista.
        //- //Matias Mattila
        //- div.slide
        //-   div(class="well playerBox")
        //-     canvas(id="matiasmChart" class="pull-right canvas" width="400px" height="350")
        //-     h2 Matias Mattila #21
        //-     h3.con Contenders
        //-     p Info text
        //-       |Lorem Ipsum on yksinkertaisesti testausteksti, jota tulostus- ja ladontateollisuudet käyttävät. Lorem Ipsum on ollut teollisuuden normaali testausteksti jo 1500-luvulta asti, jolloin tuntematon tulostaja otti kaljuunan ja sekoitti sen tehdäkseen esimerkkikirjan. Se ei ole selvinnyt vain viittä vuosisataa, mutta myös loikan elektroniseen kirjoitukseen, jääden suurinpiirtein muuntamattomana. Se tuli kuuluisuuteen 1960-luvulla kun Letraset-paperiarkit, joissa oli Lorem Ipsum pätkiä, julkaistiin ja vielä myöhemmin tietokoneen julkistusohjelmissa, kuten Aldus PageMaker joissa oli versioita Lorem Ipsumista.
        //-     p |Lorem Ipsum on yksinkertaisesti testausteksti, jota tulostus- ja ladontateollisuudet käyttävät. Lorem Ipsum on ollut teollisuuden normaali testausteksti jo 1500-luvulta asti, jolloin tuntematon tulostaja otti kaljuunan ja sekoitti sen tehdäkseen esimerkkikirjan. Se ei ole selvinnyt vain viittä vuosisataa, mutta myös loikan elektroniseen kirjoitukseen, jääden suurinpiirtein muuntamattomana. Se tuli kuuluisuuteen 1960-luvulla kun Letraset-paperiarkit, joissa oli Lorem Ipsum pätkiä, julkaistiin ja vielä myöhemmin tietokoneen julkistusohjelmissa, kuten Aldus PageMaker joissa oli versioita Lorem Ipsumista.
        //- //Sauli Sukanen
        //- div.slide
        //-   div(class="well playerBox")
        //-     canvas(id="sauliChart" class="pull-right canvas" width="400px" height="350")
        //-     h2 Sauli Sukanen #24
        //-     h3.con Contenders
        //-     p Info text
        //-       |Lorem Ipsum on yksinkertaisesti testausteksti, jota tulostus- ja ladontateollisuudet käyttävät. Lorem Ipsum on ollut teollisuuden normaali testausteksti jo 1500-luvulta asti, jolloin tuntematon tulostaja otti kaljuunan ja sekoitti sen tehdäkseen esimerkkikirjan. Se ei ole selvinnyt vain viittä vuosisataa, mutta myös loikan elektroniseen kirjoitukseen, jääden suurinpiirtein muuntamattomana. Se tuli kuuluisuuteen 1960-luvulla kun Letraset-paperiarkit, joissa oli Lorem Ipsum pätkiä, julkaistiin ja vielä myöhemmin tietokoneen julkistusohjelmissa, kuten Aldus PageMaker joissa oli versioita Lorem Ipsumista.
        //-     p |Lorem Ipsum on yksinkertaisesti testausteksti, jota tulostus- ja ladontateollisuudet käyttävät. Lorem Ipsum on ollut teollisuuden normaali testausteksti jo 1500-luvulta asti, jolloin tuntematon tulostaja otti kaljuunan ja sekoitti sen tehdäkseen esimerkkikirjan. Se ei ole selvinnyt vain viittä vuosisataa, mutta myös loikan elektroniseen kirjoitukseen, jääden suurinpiirtein muuntamattomana. Se tuli kuuluisuuteen 1960-luvulla kun Letraset-paperiarkit, joissa oli Lorem Ipsum pätkiä, julkaistiin ja vielä myöhemmin tietokoneen julkistusohjelmissa, kuten Aldus PageMaker joissa oli versioita Lorem Ipsumista.
        //- //Lauri Jämsä
        //- div.slide
        //-   div(class="well playerBox")
        //-     canvas(id="lauriChart" class="pull-right canvas" width="400px" height="350")
        //-     h2 Lauri Jämsä #33
        //-     h3.con Contenders
        //-     p Info text
        //-       |Lorem Ipsum on yksinkertaisesti testausteksti, jota tulostus- ja ladontateollisuudet käyttävät. Lorem Ipsum on ollut teollisuuden normaali testausteksti jo 1500-luvulta asti, jolloin tuntematon tulostaja otti kaljuunan ja sekoitti sen tehdäkseen esimerkkikirjan. Se ei ole selvinnyt vain viittä vuosisataa, mutta myös loikan elektroniseen kirjoitukseen, jääden suurinpiirtein muuntamattomana. Se tuli kuuluisuuteen 1960-luvulla kun Letraset-paperiarkit, joissa oli Lorem Ipsum pätkiä, julkaistiin ja vielä myöhemmin tietokoneen julkistusohjelmissa, kuten Aldus PageMaker joissa oli versioita Lorem Ipsumista.
        //-     p |Lorem Ipsum on yksinkertaisesti testausteksti, jota tulostus- ja ladontateollisuudet käyttävät. Lorem Ipsum on ollut teollisuuden normaali testausteksti jo 1500-luvulta asti, jolloin tuntematon tulostaja otti kaljuunan ja sekoitti sen tehdäkseen esimerkkikirjan. Se ei ole selvinnyt vain viittä vuosisataa, mutta myös loikan elektroniseen kirjoitukseen, jääden suurinpiirtein muuntamattomana. Se tuli kuuluisuuteen 1960-luvulla kun Letraset-paperiarkit, joissa oli Lorem Ipsum pätkiä, julkaistiin ja vielä myöhemmin tietokoneen julkistusohjelmissa, kuten Aldus PageMaker joissa oli versioita Lorem Ipsumista.
        //- //Vili Valajärvi
        //- div.slide
        //-   div(class="well playerBox")
        //-     canvas(id="viliChart" class="pull-right canvas" width="400px" height="350")
        //-     h2 Vili Valajärvi #55
        //-     h3.con Contenders
        //-     p Info text
        //-       |Lorem Ipsum on yksinkertaisesti testausteksti, jota tulostus- ja ladontateollisuudet käyttävät. Lorem Ipsum on ollut teollisuuden normaali testausteksti jo 1500-luvulta asti, jolloin tuntematon tulostaja otti kaljuunan ja sekoitti sen tehdäkseen esimerkkikirjan. Se ei ole selvinnyt vain viittä vuosisataa, mutta myös loikan elektroniseen kirjoitukseen, jääden suurinpiirtein muuntamattomana. Se tuli kuuluisuuteen 1960-luvulla kun Letraset-paperiarkit, joissa oli Lorem Ipsum pätkiä, julkaistiin ja vielä myöhemmin tietokoneen julkistusohjelmissa, kuten Aldus PageMaker joissa oli versioita Lorem Ipsumista.
        //-     p |Lorem Ipsum on yksinkertaisesti testausteksti, jota tulostus- ja ladontateollisuudet käyttävät. Lorem Ipsum on ollut teollisuuden normaali testausteksti jo 1500-luvulta asti, jolloin tuntematon tulostaja otti kaljuunan ja sekoitti sen tehdäkseen esimerkkikirjan. Se ei ole selvinnyt vain viittä vuosisataa, mutta myös loikan elektroniseen kirjoitukseen, jääden suurinpiirtein muuntamattomana. Se tuli kuuluisuuteen 1960-luvulla kun Letraset-paperiarkit, joissa oli Lorem Ipsum pätkiä, julkaistiin ja vielä myöhemmin tietokoneen julkistusohjelmissa, kuten Aldus PageMaker joissa oli versioita Lorem Ipsumista.
        //- //Jussi Lilja
        //- div.slide
        //-   div(class="well playerBox")
        //-     canvas(id="jussilChart" class="pull-right canvas" width="400px" height="350")
        //-     h2 Jussi Lilja #89
        //-     h3.con Contenders
        //-     p Info text
        //-       |Lorem Ipsum on yksinkertaisesti testausteksti, jota tulostus- ja ladontateollisuudet käyttävät. Lorem Ipsum on ollut teollisuuden normaali testausteksti jo 1500-luvulta asti, jolloin tuntematon tulostaja otti kaljuunan ja sekoitti sen tehdäkseen esimerkkikirjan. Se ei ole selvinnyt vain viittä vuosisataa, mutta myös loikan elektroniseen kirjoitukseen, jääden suurinpiirtein muuntamattomana. Se tuli kuuluisuuteen 1960-luvulla kun Letraset-paperiarkit, joissa oli Lorem Ipsum pätkiä, julkaistiin ja vielä myöhemmin tietokoneen julkistusohjelmissa, kuten Aldus PageMaker joissa oli versioita Lorem Ipsumista.
        //-     p |Lorem Ipsum on yksinkertaisesti testausteksti, jota tulostus- ja ladontateollisuudet käyttävät. Lorem Ipsum on ollut teollisuuden normaali testausteksti jo 1500-luvulta asti, jolloin tuntematon tulostaja otti kaljuunan ja sekoitti sen tehdäkseen esimerkkikirjan. Se ei ole selvinnyt vain viittä vuosisataa, mutta myös loikan elektroniseen kirjoitukseen, jääden suurinpiirtein muuntamattomana. Se tuli kuuluisuuteen 1960-luvulla kun Letraset-paperiarkit, joissa oli Lorem Ipsum pätkiä, julkaistiin ja vielä myöhemmin tietokoneen julkistusohjelmissa, kuten Aldus PageMaker joissa oli versioita Lorem Ipsumista.

      div.section#section4
        canvas(id="chart" width="500px" height="500px")
script(src="/javascripts/test.js")
