doctype html
html(lang="en")
  head
    title= pageTitle
    script(src="/bower_components/jquery/dist/jquery.js")
    script(src="/bower_components/chartjs/Chart.js")
    script(src="/javascripts/charttest.js")
  body
    canvas(id="myChart" width="500px" height="500px")
    p moi
