body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
a {
  text-decoration: none;
}
#menu li {
  display: inline-block;
  margin: 10px;
  color: #000;
  background: #fff;
  background: rgba(255,255,255,0.5);
}
#menu li {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  min-width: 150px;
  text-align: center;
}
#menu li.active {
  background: #666;
  background: rgba(0,0,0,0.5);
  color: #fff;
}
#menu li a {
  text-decoration: none;
  color: #000;
}
#menu li.active a:hover {
  color: #000;
}
#menu li:hover {
  background: rgba(255,255,255,0.8);
}
#menu li a,
#menu li.active a {
  padding: 9px 18px;
  display: block;
}
#menu li.active a {
  color: #fff;
}
#menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin: 0;
}
#section1,
#section2,
#section3,
#section4 {
  background-size: cover;
  background-image: url("/images/mika_layout.jpg");
}
#page1h1 {
  z-index: 1;
  position: absolute;
  left: 45%;
  bottom: 50%;
  text-align: center;
}
.fltext {
  z-index: 1;
  position: absolute;
  top: 80px;
  background: rgba(255,255,255,0.5);
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
}
#pheader {
  width: 98%;
  bottom: 0;
  position: fixed;
  background: rgba(29,141,204,0.79);
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 10px;
  font-size: 6em;
  display: none;
  margin-top: 45px;
  border-radius: 15px;
  margin-left: 13px;
  font-family: airstream;
  color: rgba(211,211,211,0.79);
}
.slider {
  display: none;
}
.fader {
  display: none;
}
.p2element {
  display: none;
}
.fadeElement {
  margin-top: 40px;
  display: none;
}
.tcenter {
  text-align: center;
}
.well.playerBox {
  font-family: "Franklin Gothic Light", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
  color: #fff;
  overflow: auto;
  border-style: solid;
  border-radius: 20px;
  border-width: 2px;
  background: #eee;
/* Old browsers */
  margin-top: 45px;
  margin-bottom: 20px;
  margin-left: 60px;
  margin-right: 60px;
}
.well.masB {
  background: -webkit-radial-gradient(center, ellipse cover, rgba(125,126,125,0.9) 0%, rgba(14,14,14,0.8) 58%, #0e0e0e 100%);
/* Chrome10+,Safari5.1+ */
}
.well.conB {
  background: -webkit-radial-gradient(center, ellipse cover, rgba(125,126,125,0.9) 0%, rgba(14,14,14,0.6) 58%, #0e0e0e 100%);
/* Chrome10+,Safari5.1+ */
}
.teamBox {
  width: 70%;
  height: 70%;
  margin-top: 60px;
  margin-left: 60px;
  text-align: center;
  background: rgba(255,255,255,0.9);
  display: inline-block;
}
.playerStats {
  text-align: left;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.playerBox ul {
  list-style-type: none;
  padding-left: 0px;
}
.playerBox ul li {
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: rgba(255,255,255,0.73);
}
.mas {
  color: #fff;
}
.con {
  color: #000;
}
canvas {
  margin-top: 20px;
  float: right;
  height: auto !important;
  width: 100% !important;
  border-radius: 10px;
}
.playerPhoto {
  float: left;
  border-radius: 10px;
}
.frame {
  height: 100%;
  white-space: nowrap;
  padding: 0px;
}
.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
div .thumbnail {
  background: none;
}
.photoContainer {
  position: relative;
  text-align: center;
  background: rgba(255,255,255,0.2) !important;
}
.masTeam div .thumbnail:hover {
  border-color: #fff;
}
.conTeam div .thumbnail:hover {
  border-color: #fff;
}
.thumbnailTextMas {
  padding-top: 20%;
  opacity: 0;
  color: #fff;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.thumbnailTextMas:hover {
  background-color: #1d8dcc;
  font-family: airstream;
  font-size: 1.5em;
  opacity: 1;
  border-radius: 3px;
}
.thumbnailTextCon {
  padding-top: 20%;
  opacity: 0;
  color: #fff;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.thumbnailTextCon:hover {
  background-color: #ff423d;
  font-family: airstream;
  font-size: 1.5em;
  opacity: 1;
  border-radius: 3px;
}
.playerBox img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
.well.masTeam {
  margin-top: 55px;
  border-color: rgba(29,141,204,0.79);
  border-style: solid;
  border-width: 5px;
  border-radius: 20px;
  position: relative;
  background: -webkit-radial-gradient(center, ellipse cover, #7d7e7d 0%, rgba(14,14,14,0.8) 58%, #0e0e0e 100%);
/* Chrome10+,Safari5.1+ */
}
.well.conTeam {
  border-color: rgba(255,66,61,0.79);
  border-style: solid;
  border-width: 5px;
  border-radius: 20px;
  background: -webkit-radial-gradient(center, ellipse cover, #7d7e7d 0%, rgba(14,14,14,0.8) 58%, #0e0e0e 100%);
/* Chrome10+,Safari5.1+ */
}
#mikkoChart {
  background-image: url("/images/mikko_profile.jpg");
  background-size: cover;
}
#tuomasChart {
  background-image: url("/images/tuomas_profile.jpg");
  background-size: cover;
}
#petteriChart {
  background-image: url("/images/petteri_profile.jpg");
  background-size: cover;
}
#jukkaChart {
  background-image: url("/images/jukka_profile.jpg");
  background-size: cover;
}
#jukkahChart {
  background-image: url("/images/jukkah_profile.jpg");
  background-size: cover;
}
#kristianChart {
  background-image: url("/images/kristian_profile.jpg");
  background-size: cover;
}
#jussiChart {
  background-image: url("/images/jussi_profile.jpg");
  background-size: cover;
}
#rikuChart {
  background-image: url("/images/riku_profile.jpg");
  background-size: cover;
}
#olliChart {
  background-image: url("/images/olli_profile.jpg");
  background-size: cover;
}
#jaakkoChart {
  background-image: url("/images/jaakko_profile.jpg");
  background-size: cover;
}
#kimmoChart {
  background-image: url("/images/kimmo_naama.jpg");
  background-size: cover;
}
@media screen and (max-width: 600px) {
  #video {
    display: none;
  }
  #section1 {
    background-size: cover;
    background-image: url("/images/mika_layout.jpg");
  }
  canvas {
    display: none;
  }
}
@font-face {
  font-family: airstream;
  src: url("/stylesheets/Airstream-webfont.woff");
}
@media screen and (max-width: 1000px), screen and (max-height: 650px) {
}
